
body {
  cursor: default;
  position: absolute;
  top: 0; right: 0;	bottom: 0; left: 0;
}

.text {
  border-radius: 0;
  font-size: 1rem;
  display: block;
  width: 100%;
  height: 4.5rem;
  margin: .25rem auto;
  padding: .2rem;
  border: 1px solid #eee;
  border-bottom: 2px solid #ccc;
  outline: none;
}

.text-after {
  display: block;
  width: calc(100% + 7px);
  height: 2px;
  margin: auto;
  margin-top: calc(-2px - .25rem);
  transition: transform ease-in-out 200ms;
  transform: scaleX(0);
  background-color: #9a0007;
}

#headerContainer {
  height: 3rem;
  background-color: #f44336;
  color: #fff;
  line-height: 3rem;
  font-size: 1.5rem;
  padding: 0 1.5rem;
  position: fixed;
  z-index: 1;
  width: calc(100% - 48px);
  overflow: hidden;
}
header {
  height: 6rem;
  transform: translateY(-50%);
  transition: transform 250ms ease-in-out;
}
header #right {float: right;}
header #header-logout {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}

#readAllProgress {
  height: 3rem;
  display: block;
  width: 100%;
}

/*Side menu*/
nav {
  display: block;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #d32f2f;
  max-width: 75%;
  width: 15rem;
  transform: translateX(-100%);
  transition: transform 350ms ease-in-out;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 3rem;
  padding-left: 1rem;
  position: relative;
}
nav a:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: '';
  background-color: #b71c1c;
  z-index: -1;
  opacity: 0;
}
nav a:hover:after {opacity: 1;}
nav img {
  width: calc(100% - 4rem);
  display: block;
  padding: 2rem;
  background-image: linear-gradient(to bottom, #ffebee 30%, #ffcdd2 50%, #d32f2f);
}
#navOpen:checked ~ nav {transform: translateX(0);}
#navOverlay {
  opacity: 0;
  background-color: #000;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  transition: opacity 350ms ease-in-out;
}
#navOpen:checked ~ #navOverlay {
  opacity: .5;
  width: 100%;
  pointer-events: auto;
}
#navOpen {display: none;}
label {cursor: pointer;}
p {margin: 0;}

#message-container {
  width: 40%;
  float: left;
  border-right: 1px solid #000;
  position: absolute;
  top: 37px;
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.message {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
  display: block;
  margin: 0 .5rem;
  padding-top: .5rem;
  padding-bottom: 1rem;
  padding-left: .5rem; padding-right: .5rem;
  cursor: pointer;
}

.message-header, .message-date, .message-username {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.message-header {font-size: 1.2rem;}
.message-date {float: right;}
.message-username {clear: right;}

#view-header {
  margin: 1rem;
  margin-bottom: .5rem;
  padding-bottom: .25rem;
  border-bottom: 1px solid #000;
}

#view-body {padding: 0 calc(1rem - 5px);}

#message-view {
  width: calc(60% - 2px);
  position: absolute;
  right: 0;
  height: calc(100% + 34px);
  top: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#search {
  width: calc(40% - 2rem);
  border: 0;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  border-radius: 0;
  position: fixed;
  font-size: 1rem;
  outline: none;
  padding: .5rem 1rem;
}

#slider {
  width: 100%;
  position: relative;
  height: calc(100% - 85px);
  top: 48px;
  transition: 200ms ease-in-out transform;
}

@media screen and (max-width: 800px) {
  #header-name {display: none;}

  header {
    padding: 0 .75rem;
    width: calc(100% - 1.5rem);
  }

  #search {
    width: calc(50% - 2rem);
    position: relative;
    border-right: none;
  }

  #message-container, #message-view {
    border: none;
    width: 50%;
    height: 100%;
  }

  #slider {width: 200%;}
}

/*Loading spinner - displays when client waits for server to get a message*/
#loadingSpinner {
  border: 16px solid #ccc;
  border-top: 16px solid #f44336;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  position: relative;
  left: calc(50% - 60px);
  top: calc(50% - 60px);
  line-height: 120px;
  text-align: center;
}
#loadingSpinner:after {
  content: 'Loading...';
  display: block;
  animation: backSpin 1s linear infinite reverse;
}
@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
@keyframes backSpin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

label {
  cursor: pointer;
  margin-right: 8px;
  position: relative;
  top: 6px;
}

/*Defines radio button styles for response*/
.radioStyle {
  height: 12px;
  width: 12px;
  margin-bottom: -2px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #000;
  position: relative;
  z-index: 1;
}

.radio:checked + label .radioStyle:before {transform: scale(4, 4);}
.radio:checked + label .radioStyle {border-color: #9a0007;}

.radio:checked + label .radioStyle:after {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  content: ' ';
  background-color: #9a0007;
  opacity: .5;
  height: 16px;
  width: 16px;
  transform: scale(0, 0);
  position: absolute;
  left: -2px;
  top: -2px;
  border-radius: 50%;
  animation: selectRipple 200ms;
  z-index: 1;
}

.radioStyle:before {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  content: '';
  background-color: #9a0007;
  height: 2px;
  width: 2px;
  transform: scale(0, 0);
  position: absolute;
  left: 5px;
  top: 5px;
  border-radius: 1px;
  transition: transform 200ms ease-in-out;
  z-index: -1;
}

.radio {display: none;}

@keyframes selectRipple {
  0% {transform: scale(0, 0) translateZ(0);}
  75% {transform: scale(1.5, 1.5) translateZ(0);}
  100% {transform: scale(0, 0) translateZ(0);}
}

.transformed {
  transform: translateX(-50%);
  height: calc(100% - 48px);
}

/*Top menu icon - morphs on mobile*/
.Hotdog {
  display: inline-block;
  cursor: pointer;
}

.HotdogBun1, .HotdogSausage, .HotdogBun2 {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

@media screen and (max-width: 800px) {
  label {
    left: -20px;
  }

  .change .HotdogBun1 {
    transform:
    rotate(-45deg)
    translate(-15px, -6px)
    scale(0.5, 1);
  }

  .change .HotdogSausage {
    transform: translate(-9px, 0px);
  }

  .change .HotdogBun2 {
    transform:
    rotate(45deg)
    translate(-15px, 6px)
    scale(0.5, 1);
  }
}